*{
  box-sizing: border-box;
}
.grey{
  background-color: aliceblue;
  padding:20px;
  border:3px solid black;
}

body{
  display: grid;
  grid-template-areas: "header header header header header"
    "logo headline headline headline headline"
    "pills pills pills pills pills"
    "main main main second second"
    "main main main third third"
  ;
  grid-auto-rows: 150px;
  grid-template-rows: 150px 150px 150px 300px 300px;
  column-gap: 30px;
  row-gap: 20px;
}

header{
  grid-area: header;
  background-color: cadetblue;
  /* min-height: 100px; */
}

.first{
  grid-area: logo;
  align-self: center;
}

.second{
  grid-area: headline;
  align-self: center;
  height: 100px;
}

.pills-container{
  background-color: azure;
  grid-area: pills;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pill{
  flex: 0 1 150px;
}

.main{
  grid-area: main;
}

.card{
  height: 100%;
}

.card.first{
  grid-area: second;
}

.card.second{
  grid-area: third;
}